:root {
    --main-txt-color: #ddd;
    --lead-txt-color: #fff;
    --main-bg-color: #000;
    --sec-bg-color: #333;
    --border: 1px solid var(--main-txt-color);
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
    color: var(--main-txt-color);
    font-family: monospace, sans-serif;
}

.bucket {
    background-color: #000;
    margin: 1rem;
    padding: 3rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

.hr {
    width: 70%;
    border: #ccc dashed 1px;
    margin: 1rem auto;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
    margin: 1rem;
}

h4 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--lead-txt-color);
    text-align: center;
}

.web-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stand {
    color: var(--lead-txt-color);
    font-weight: bold;
}

.material-icons {
    font-size: 6.5rem;
    display: flex;
    justify-content: center;
}

.tooltipped {
    background-color: var(--main-bg-color);
    color: #fff;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}

.gallary {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallary-item {
    width: auto;
    max-height: 200px;
    margin: 1rem;
}

.card-panel {
    background-color: var(--sec-bg-color);
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input,
textarea {
    color: var(--lead-txt-color);
    font-size: 1rem;
    height: 75px;
    padding: 0.5rem;
    border: var(--border);
}

button,
.submit-btn {
    background-color: var(--sec-bg-color);
    color: var(--lead-txt-color);
    margin: 0 2rem 2rem 2rem;
    padding: 0.5rem 2rem;
    border: var(--border);
}

button:hover {
    cursor: pointer;
}

.info-list li {
    margin: 0;
}
